/* x-form-trigger */
.x-form-trigger.app-form-plus-trigger {
    background-image: url(../i/form-plus-trigger.png);
    }

/* app-form */
.app-form-required {
    color:red;
    font-weight:bold;
    }
.x-docked.app-form-buttons {
    margin-left: 105px;
    }
/* icons */
.app-icon-add {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_190_circle_plus.png);
    }
.app-icon-remove {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_192_circle_remove.png);
    }
.app-icon-refresh {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_081_refresh.png);
    }
.app-icon-up {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_213_up_arrow.png);
    }
.app-icon-down {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_212_down_arrow.png);
    }
/* mask */
.app-masked.x-item-disabled {
    opacity: 0.3;
    }
.app-masked .x-mask {
    background: none;
    }
/* hint */
.app-hint {
    padding: 5px 10px;
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    .app-hint.mod_info {
        color: #3A87AD;
        background-color: #D9EDF7;
        border-color: #BCE8F1;
        }
