/* x-form-trigger */
.x-form-trigger.app-form-plus-trigger {
    background-image: url(../i/form-plus-trigger.png);
    }

/* app-form */
.app-form-required {
    color:red;
    font-weight:bold;
    }
.x-docked.app-form-buttons {
    margin-left: 105px;
    }
/* icons */
.app-icon-add {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_190_circle_plus.png);
    }
.app-icon-remove {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_192_circle_remove.png);
    }
.app-icon-refresh {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_081_refresh.png);
    }
.app-icon-copy {
    background-image: url(../i/glyphicons/png/16x16/glyphicons_153_more_windows.png);
    }
.app-icon-right {
    background-position: 3px 0;
    background-image: url(../i/glyphicons/png/16x16/glyphicons_223_thin_right_arrow.png);
    }
.app-icon-left {
    background-position: 1px 0;
    background-image: url(../i/glyphicons/png/16x16/glyphicons_224_thin_arrow_left.png);
    }
/* mask */
.app-masked.x-item-disabled {
    opacity: 0.3;
    }
.app-masked .x-mask {
    background: none;
    }

