<html>
<head>
    <title>Панель управления классами</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../ext/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="../app/css/all.css">
    <script type="text/javascript" src="../ext/ext-debug.js"></script>
    <script type="text/javascript">

        Ext.application({
            name: 'App',
            appFolder: '../app/src',
            requires: [
                'App.class.view.Panel',
                'App.proxy.RPC',
                'App.class.model.Class'
            ],
            launch: function() {
                Ext.Ajax.on({
                    'beforerequest': function(a,p){
                        p.jsonData = Ext.apply({}, p.jsonData, p.params);
                        p.method = "POST";
                        p.url = '/app_dev.php/ajx/' + p.url.replace(/^([^\?]+)/,"$1.php");
                    },
                    'requestexception': function(c, res){
                       Ext.MessageBox.show({
                            title: res.status + " "+ res.statusText,
                            msg: res.responseText && res.responseText!='' ? '<pre>'+res.responseText+'</pre>' : 'Ошибка выполнения запроса',
                            icon: Ext.MessageBox.ERROR,
                            buttons: Ext.Msg.OK
                       });                 
                    }
                });
                Ext.create('App.class.view.Panel', {
                    renderTo: 'viewport'
                });
            }
        });    
    </script>
</head>
<body style="background: gray;">
    <div id="viewport" style="width: 600px; margin: 50px auto; background: white; padding: 10px;"></div>
</body>
</html>
