.state_loading {
    position: relative;
    }
.b-loading {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: white url(../i/loading.gif) no-repeat 50% 50%;
    opacity: 0.5;
    }
    .b-loading.mod_small {
        background-image: url(../i/loading-small.gif);
        opacity: 1;
        }
