.b-nastedlist {
    height: 100%;
    }
    .b-nastedlist-lists {
        height: 100%;
        }
    .b-nastedlist-lists-hh {
        height: 100%;
        position: relative;        
        }
    .b-nastedlist-lists-h {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        }
    .b-nastedlist-item:hover {
        cursor: pointer;
        }
    .b-nastedlist-item.state_active:hover td,
    .b-nastedlist-item.state_active {
        background: #DCEAF4;
        }
    .b-nastedlist-item.state_active.state_active-current {
        background: #BBD8E9;
        }
