/*
 * @id 507c059156fa6 - (!!!) Идентификатор добавляется автоматически. Запрещено ручное изменение и копирование идентификатора при создании новых файлов (!!!) 
 */
.b-nestedlist {
    height: 100%;
    white-space: nowrap;
    }
    .b-nestedlist-lists-hh {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-left: 2.5%;        
        min-height: 50px;
        }
        .b-nestedlist-lists-hh.mod_empty {
            vertical-align: middle;
            height: auto;
            }        
            .b-nestedlist-lists-hh.mod_empty .b-nestedlist-lists-h {
                overflow: visible;
                }
            .b-nestedlist-lists-hh.mod_empty .b-nestedlist-empty {
                display: block;
                }
            .b-nestedlist-lists-hh.mod_empty .table {
                display: none;
                }            
        .b-nestedlist-lists-hh:first-child {
            margin-left: 0;
            }
    .b-nestedlist-lists-h {
        overflow-y: auto;
        overflow-x: hidden;
        }
        .b-nestedlist-lists-h .table {
            margin-bottom: 0;
            }
            .b-nestedlist-lists-h .table tr:first-child td {
                border-top: none;
                }
    .b-nestedlist-item:hover {
        cursor: pointer;
        }
    .b-nestedlist-item.state_active:hover td,
    .b-nestedlist-item.state_active {
        background: #D9EDF7;
        }
    .b-nestedlist-empty {
        display: none;
        color: #CCC;
        text-align: center;
        font-size: 26px;
        height: 26px;
        margin-top: 5px;
        font-weight: bold;
        }
