html.noscroll,
html.noscroll body {
    overflow: hidden;
    }

.b-popup {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    }
    .b-popup-h {
        display: table;
        margin: 0 auto;
        height: 100%;
        }
        .b-popup-hh {
            display: table-cell;
            padding: 20px;
            vertical-align: middle;
            }
    .b-popup .modal {
        position: static;
        margin: 0;
        }
    .b-popup .modal-body {
        max-height: none;
        overflow: visible;
        }
    .b-popup-body .b-grid:first-child {
        margin-top: -15px;
        }
