html.noscroll,
html.noscroll body {
    overflow: hidden;
    }

.b-popup {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    }
    .b-popup .modal {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 auto;
        }
    .b-popup .modal-body {
        max-height: none;
        }
