/*
 * @id 507c059155d2c - (!!!) Идентификатор добавляется автоматически. Запрещено ручное изменение и копирование идентификатора при создании новых файлов (!!!) 
 */
.tooltip.mod_important .tooltip-inner {
    background-color: #B94A48;
    }
.tooltip.top.mod_important .tooltip-arrow {
    border-top-color: #B94A48;
    }
.tooltip.bottom.mod_important .tooltip-arrow {
    border-bottom-color: #B94A48;
    }    
