/*
 * @id 507c05915666d - (!!!) Идентификатор добавляется автоматически. Запрещено ручное изменение и копирование идентификатора при создании новых файлов (!!!) 
 */
.b-toolbarhover {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    z-index: 99;
    height: 26px;
    }
    .b-toolbarhover-h {
        position: relative;
        padding: 15px 0 5px 15px;
        top: -100%;
        margin-top: -20px;
        }    
        .b-toolbarhover-h>* {
            margin: 0;
            }
